<%= flash_messages %>
<div class="block">
<header class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <h1 class="font-weight-light">E-commerce</h1>
        <p class="lead">Shop now</p>
      </div>
    </div>
  </div>
</header>
<div class="card-group">
<% @products.each do |product| %>

 
  <div class="card">
  <p>
  <%= product.image %>
  <p>
    <div class="card-body">
      <h5 class="card-title"><%= product.title %></h5>
      <p class="card-text"><%= product.description %></p>
      <p class="card-text"><small class="text-muted"><%= product.price %></small></p>
    </div>
  </div>
  <div class="card-body">
    <a href="#" class="card-link">View Product Details</a>
    <%= button_to "Add to cart", line_items_path(:product_id => product.id)%>
  </div>

  <%end %>
  </div>

