<p id="notice"><%= notice %></p>

<p>
  <strong>Orderstate:</strong>
  <%= @order.orderstate %>
</p>

<p>
  <strong>User:</strong>
  <%= @order.user.name %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
